@CHARSET "UTF-8";

#member_detail {
	border: 3px solid black;
	width: 70%;
	height: 300px;
	margin: 0 auto;
	border-collapse: collapse;
}

#member_detail tr {
	border: 1px solid darkgray;
	height: 15%;
}

#member_detail tr td {
	border: 1px solid darkgray;
	font-size: x-large;
}

.fontBold {
	font-weight: bold;
}

.bg_color_yellow {
	background-color: #A9F5A9;
}

#member_list {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

#member_list td, th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}

#member_list tr:nth-child(even) {
	background-color: #dddddd;
}